{:kotoba.app/id "cloud.itonami.isic-1080", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihw5ww6yhpc3337zpeyyd7d67gnuit2gsjalmm4uyyd7mwq42ddpa", :kotoba.app/embed-url "ipfs://bafkreihw5ww6yhpc3337zpeyyd7d67gnuit2gsjalmm4uyyd7mwq42ddpa", :published {:archive "https://kotobase.net/ipfs/bafkreihw5ww6yhpc3337zpeyyd7d67gnuit2gsjalmm4uyyd7mwq42ddpa", :size 72502, :put-status 201, :get-status 200, :at "2026-08-15T13:49:29.140Z"}}
